<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <a th:href="@{/login}" class="btn btn-primary">Zaloguj się</a>
    <h1 class="my-4">Dashboard</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Panel 1</h5>
                    <p class="card-text">Treść panelu 1</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Panel 2</h5>
                    <p class="card-text">Treść panelu 2</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Dane</h5>
                    <ul class="list-group">
                        <li th:each="item : ${data}" class="list-group-item" th:text="${item}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
